.side-bar {
  background-color: $electroMagnetic;
  width: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
  header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  footer {
    @extend header
  }
}

.buttons-sidebar {
  font-size: 1.4em;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  input {
    display: none;
  }
}

.buttons-sidebar:hover {
  background-color: $blueNights;
  color: white;
}

.toast-save-content {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 1060;
}

.tooltip {
  background-color: $imperialPrimer;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px;
  font-size: 0.8em;
  z-index: 1000;
  position: absolute;
  left: 48px;
}

#button-download:hover::after {
  @extend .tooltip;
  content: 'Descargar archivo';
}

#button-upload:hover::after {
  @extend .tooltip;
  content: 'Importar archivo';
}

#button-save:hover::after {
  @extend .tooltip;
  content: 'Guardar contenido en local Storage';
}

#button-config:hover::after {
  @extend .tooltip;
  content: 'Configuraciones del editor';
}