@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #222f3e;
  overflow: hidden;
}

.container-application {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.container-windows {
  width: calc(100% - 48px);
  height: 100%;
  padding: 4px;
}

.maximize-window {
  position: absolute;
  width: calc(100% - 56px) !important;
  height: calc(100% - 8px);
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: e-resize;
}

.side-bar {
  background-color: #2f3640;
  width: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
}
.side-bar header, .side-bar footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.buttons-sidebar {
  font-size: 1.4em;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
}
.buttons-sidebar input {
  display: none;
}

.buttons-sidebar:hover {
  background-color: #353b48;
  color: white;
}

.container-editor, .container-preview {
  width: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 0px 8px 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #2f3640;
}

.container-editor .buttons-window, .container-preview .buttons-window {
  height: 36px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}
.container-editor .buttons-window button, .container-preview .buttons-window button {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  padding: 2px;
}
.container-editor .buttons-window .input-name, .container-preview .buttons-window .input-name {
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
}
.container-editor .buttons-window .input-name input, .container-preview .buttons-window .input-name input {
  width: 220px;
  height: 100%;
  border: 1px solid black;
  background-color: #222f3e;
  color: whitesmoke;
  outline: none;
  padding: 0 4px;
  border-radius: 4px 0 0 4px;
}
.container-editor .buttons-window .input-name div, .container-preview .buttons-window .input-name div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #222f3e;
  color: black;
  text-align: center;
  padding: 0 4px;
  border: 1px solid black;
  border-left: none;
  border-radius: 0 4px 4px 0;
  color: whitesmoke;
}

.editor {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.container-preview .buttons-window {
  height: 36px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 4px;
}
.container-preview .buttons-window button {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  padding: 2px;
}

.preview-markdown {
  color: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  word-break: break-word;
  background-color: #353b48;
}

.preview-markdown::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.preview-markdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 2px solid #2f3640;
  border-radius: 8px;
}

.preview-markdown h1,
.preview-markdown h2,
.preview-markdown h3,
.preview-markdown h4,
.preview-markdown h5,
.preview-markdown h6 {
  padding: 0.2em 0px;
}
.preview-markdown p {
  font-size: 1.2em;
}
.preview-markdown code {
  padding: 2px 4px;
  background-color: #2f3640;
  border-radius: 8px;
  border: 1px solid black;
  color: whitesmoke;
  font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.preview-markdown pre {
  border: 1px solid black;
  padding: 16px;
  background-color: #2f3640;
  border-radius: 8px;
  color: whitesmoke;
  font-size: 1.2em;
  font-family: "JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.preview-markdown pre code {
  background-color: transparent;
  border: none;
}
.preview-markdown table {
  text-align: left;
  width: 100%;
  margin: 10px 0;
}
.preview-markdown thead {
  background-color: #2f3640;
}
.preview-markdown th, .preview-markdown td {
  border: 1px solid black;
  padding: 10px;
}
.preview-markdown a {
  text-decoration: none;
  color: #54a0ff;
}
.preview-markdown a:hover {
  text-decoration: underline;
}
.preview-markdown p img {
  display: flex;
  margin: 0 auto;
}

.form-config-editor {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form-config-editor label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}/*# sourceMappingURL=global.css.map */